#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    min-height: 100vh;
    perspective: 1000px;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform-style: preserve-3d;
    perspective: 1000px;
}

.game.win {
    animation: game-end 0.75s;
}

.game.reset {
    animation: reset 0.2s;
}

@keyframes game-end {
    0% {
        transform: rotateX(0) rotateY(0);
    }

    25% {
        transform: rotateY(180deg) rotateX(270deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }

}

@keyframes reset {
    0% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(60px);
    }

    30% {
        transform: translateX(-60px);
    }

    50% {
        transform: translateX(30px);
    }

    75% {
        transform: translateX(-15px);
    }

    100% {
        transform: translateX(0);
    }
}