.X {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: placedX 0.3s;
}

.X > :nth-child(n) {
    border: 2px solid white;
    border-radius: 2px;
    width: 32px;
    position: relative;
}

.X > :first-child {
    top: 1.5px;
    rotate: 45deg;
}

.X > :last-child {
    bottom: 1.5px;
    rotate: -45deg;
}

@keyframes placedX {
    from {
        transform: translateZ(400px);
    }
    to {
        transform: translateZ(0);
    }
}